---
import DownloadButton from './DownloadButton.astro';

const { name, src, versions, background } = Astro.props;
---

<div class="flex flex-col">
  <h4
    class="mb-3 text-lg font-bold font-mono uppercase flex-auto h-20 flex items-end"
  >
    {name}
  </h4>
  <div
    class:list={[
      'h-full w-full p-5 aspect-3/2 rounded-lg shadow grid place-items-center',
      background ?? 'bg-white',
    ]}
  >
    <img src={src} alt={name + ' asset preview'} />
  </div>
  <div class="my-5 flex gap-5">
    {
      versions.map((version) => (
        <DownloadButton src={version.src}>
          {version.name.toUpperCase()}
        </DownloadButton>
      ))
    }
  </div>
</div>
