---
const { name, color, description } = Astro.props;
---

<div x-data="{copied: false}" data-color={color}>
  <div class="mb-3">
    <h4 class="text-lg font-bold font-mono uppercase flex-auto">
      {name}
    </h4>
    <div class="h-5 text-gray-500 relative">
      <div class="absolute inset-0">
        <button
          x-show="!copied"
          x-transition
          @click="navigator.clipboard.writeText($root.dataset.color); copied = true; setTimeout(() => copied = false, 1000)"
        >
          {color}
        </button>
      </div>
      <div
        class="absolute inset-0 -z-10"
        x-show="copied"
        x-transition
        x-cloak
      >
        Copied
      </div>
    </div>
  </div>
  <div
    class="aspect-3/2 w-24 rounded-lg shadow"
    style={`background-color: ${color};`}
  >
  </div>
</div>
