---
const { src } = Astro.props;
---

<a
  class="w-full sm:w-auto px-4 sm:px-6 md:px-10 py-2 bg-white rounded-md inline-block text-center shadow font-mono"
  href={src}
  download
>
  <div class="text-xs text-gray-700">Download</div>
  <div class="text-lg"><slot /></div>
</a>
