---
import '../../styles/main.css';
import Analytics from '../Analytics.astro';
import Navigation from '../Navigation.astro';
import Footer from '../Footer.astro';

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    {import.meta.env.PROD && <Analytics />}
  </head>
  <body class="bg-beige">
    <header>
      <Navigation />
    </header>

    <slot />

    <Footer />
  </body>
</html>
