---
import '../../styles/main.css';
import Analytics from '../Analytics.astro';
import Navigation from '../Navigation.astro';
import Footer from '../Footer.astro';

const { title } = Astro.props;
---

<html class="min-h-screen" lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <link rel="sitemap" href="/sitemap-index.xml" />

    {import.meta.env.PROD && <Analytics />}
  </head>
  <body class="min-h-screen flex flex-col flex-nowrap bg-beige">
    <header>
      <Navigation />
    </header>

    <div class="flex-1">
      <slot />
    </div>

    <Footer />
  </body>
</html>
