---
import '../../styles/main.css';
import Analytics from '../Analytics.astro';
import Navigation from '../Navigation.astro';
import Footer from '../Footer.astro';

const { title } = Astro.props;
---

<html class="min-h-screen" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon-16x16.png"
    />
    <link rel="manifest" href="/site.webmanifest" />
    <link
      rel="mask-icon"
      href="/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <link rel="sitemap" href="/sitemap-index.xml" />

    <slot name="head" />

    {import.meta.env.PROD && <Analytics />}
  </head>
  <body
    class="min-h-screen flex flex-col flex-nowrap bg-orange-75 dark:bg-gray-900 dark:text-white"
  >
    <header>
      <Navigation />
    </header>

    <div class="flex-1">
      <slot />
    </div>

    <Footer />
  </body>
</html>
