---
import EmergencyContact from '../components/EmergencyContact.astro';
import Base from '../components/layouts/Base.astro';
import CanonicalUrl from '../components/utilities/CanonicalUrl.astro';
import ContactForm from '../partials/ContactForm.astro';
---

<Base title="Contact Us">
    <CanonicalUrl slot="head" page="contact" />
    <section class="container mx-auto px space-y-5 py-10">
        <h1 class="text-4xl text-center">Contact Us</h1>
        <div class="max-w-4xl mx-auto">
            <ContactForm />
        </div>
    </section>
    <EmergencyContact />
</Base>
