---
import { Image } from 'astro:assets';
import Base from '../components/layouts/Base.astro';
import Logo from '../assets/gpc-logo.svg';
import LogoForDarkBackground from '../assets/gpc-logo-for-dark-background.svg';

import CanonicalUrl from '../components/utilities/CanonicalUrl.astro';
import DashedBox from '../components/DashedBox.astro';
import TicketsAvailable from '../components/TicketsAvailable.vue';
---

<Base title="The Great Pumpkin Chase">
  <CanonicalUrl slot="head" page="" />
  <section class="grid place-items-center py-14 px">
    <div class="container">
      <div class="mx-auto max-w-xl mb-24">
        <Image
          src={Logo}
          alt="The Great Pumpkin Chase"
          class="block dark:hidden"
        />
        <Image
          src={LogoForDarkBackground}
          alt="The Great Pumpkin Chase"
          class="hidden dark:block"
        />
      </div>
      <h1
        class="text-2xl text-center leading-[1.6] sm:leading-[1.6] md:leading-[1.6]"
      >
        <div class="text-5xl font-bold mb-3">
          You and your friends are invited!
        </div>
         Come for an adventure to find clues throughout
        Charlottesville and solve the mystery of the Great Pumpkin.
      </h1>
    </div>
  </section>
  <section class="container mx-auto py-14 px text-center max-w-5xl">
    <h3 class="text-3xl font-bold mb-5">
      What is the Great Pumpkin Chase?
    </h3>
    <div class="space-y-3">
      <p>
        The GPC 2023 is a city-wide scavenger hunt for any youth,
        6th-12th grade. The event <strong>begins at 6pm sharp</strong>
         on the evening of
        <strong
          >Friday, October 27, 2023 at CrossLife Community Church
          (1410 Old Brook Rd, at Rio Road)</strong
        >, and will end by about 11pm. If there's inclement weather on
        Friday night, we will postpone until the next night, on
        <strong>Saturday the 28th</strong>.
      </p>
      <p>
        Teams of participants, consisting of 6-12 people with 1-2
        adult drivers/chaperones, will make their way throughout the
        evening to different waypoints throughout Charlottesville,
        each of which are well-known, safe public places. At each
        waypoint teams will have to work together to solve puzzles,
        complete challenges, and earn points by collecting artifacts
        along the way.
      </p>
    </div>

    <div class="mt-10">
      <a class="btn" href="/register">Students Register Here!</a>
      <div class="mt-3 text-lg">
        <TicketsAvailable client:load />
      </div>
    </div>
  </section>
  <section
    class="container mx-auto py-10 px grid grid-cols-1 lg:grid-cols-2 gap-10 max-w-7xl"
  >
    <DashedBox title="Details">
      <ol class="text-xl">
        <li><strong>Date</strong>: October 27th</li>
        <li>
          <div class="flex">
            <div class="mr-1"><strong>Location</strong>:</div>
            <div>
              <p>CrossLife Community Church</p>
              <p>
                1410 Old Brook Rd <br />Charlottesville, VA 22901
              </p>
            </div>
          </div>
        </li>
      </ol>
    </DashedBox>
    <DashedBox title="Itinerary">
      <ol>
        <li class="text-lg">
          <strong>6:00pm</strong>: Arrive for Pizza and Fellowship
        </li>
        <li class="text-lg">
          <strong>6:30pm</strong>: The Hunt begins
        </li>
        <li class="text-lg">
          <strong>8:45pm</strong>: The Hunt concludes… all teams meet
          back at CrossLife
        </li>
        <li class="text-lg">
          <strong>9:00pm</strong>: Message from Jason Turlington and
          Prizes
        </li>
      </ol>
    </DashedBox>
  </section>
</Base>
