---
import { Image } from 'astro:assets';
import Base from '../components/layouts/Base.astro';

import logo from '../assets/logo.png';
---

<Base>
  <section class="grid place-items-center h-screen">
    <div class="max-w-5xl px-4 md:px-6">
      <Image src={logo} alt="logo" />
    </div>
  </section>
  <section>
    <h2>
      Join us for a night of fun and adventure as we race around
      Charlottesville to solve clues, complete challenges, and find
      the Great Pumpkin!
    </h2>
  </section>
</Base>
