---
import { Image } from 'astro:assets';
import Base from '../components/layouts/Base.astro';

import CanonicalUrl from '../components/utilities/CanonicalUrl.astro';
import DashedBox from '../components/DashedBox.astro';
---

<Base title="The Great Pumpkin Chase">
  <CanonicalUrl slot="head" page="" />
  <section class="grid place-items-center py-14 px">
    <div class="container">
      <h2
        class="text-2xl text-center leading-[1.6] sm:leading-[1.6] md:leading-[1.6]"
      >
        <div class="text-5xl font-bold mb-3">
          You and your friends are invited!
        </div>
         Come for an adventure to find clues throughout
        Charlottesville and solve the mystery of the Great Pumpkin.
      </h2>
    </div>
  </section>
  <section class="container mx-auto py-10 px">
    <DashedBox>
      <h3 class="text-2xl font-bold text-center mb-3">Itinerary</h3>
      <ol>
        <li class="text-lg">
          <strong>6:00pm</strong>: Arrive for Pizza and Fellowship
        </li>
        <li class="text-lg">
          <strong>6:30pm</strong>: The Hunt begins
        </li>
        <li class="text-lg">
          <strong>8:45pm</strong>: The Hunt concludes and more snacks
        </li>
        <li class="text-lg">
          <strong>9:00pm</strong>: Message from Jason Turlington and
          Prizes
        </li>
      </ol>
    </DashedBox>
  </section>
</Base>
