---
import { Image } from 'astro:assets';
import Base from '../components/layouts/Base.astro';
import image01 from '../assets/images/image-01.jpg';

import CanonicalUrl from '../components/utilities/CanonicalUrl.astro';
---

<Base title="The Great Pumpkin Chase">
    <CanonicalUrl slot="head" page="" />
    <section class="min-h-screen flex items-center justify-center">
        <div class="relative">
            <Image src={image01} alt="TODO" />
        </div>
    </section>
</Base>
