---
import { Image } from 'astro:assets';
import Base from '../components/layouts/Base.astro';

import logo from '../assets/logo.svg';
---

<Base title="The Great Pumpkin Chase">
  <section class="grid place-items-center py-10">
    <div class="container">
      <Image
        class="object-contain md:w-3/5 lg:w-1/2 mx-auto"
        src={logo}
        alt="logo"
      />
    </div>
  </section>
  <section class="container mx-auto py-10 px-lg">
    <h2
      class="text-2xl sm:text-3xl md:text-4xl text-center leading-[1.6] sm:leading-[1.6] md:leading-[1.6]"
    >
      Join us for a night of fun and adventure as we race around
      Charlottesville to solve clues, complete challenges, and find
      the Great Pumpkin!
    </h2>
  </section>
</Base>
