---
import { Image } from 'astro:assets';
import Base from '../components/layouts/Base.astro';
import image01 from '../assets/images/image-01.jpg';

import CanonicalUrl from '../components/utilities/CanonicalUrl.astro';
---

<Base title="The Great Pumpkin Chase">
    <CanonicalUrl slot="head" page="" />
    <section class="min-h-screen relative">
        <div
            class="absolute inset-0 p-10 flex flex-col justify-center"
        >
            <div class="container mx-auto">
                <h1 class="text-5xl font-bold">
                    You and your friends are invited!
                </h1>
                <p class="mt-5 max-w-prose">
                    Join the chase on the adventurous path of the
                    Great Pumpkin by working as a team to find clues,
                    complete challenges, and collect points to win
                    great pumpkin prizes!
                </p>
            </div>
        </div>
        <div class="absolute inset-0 bg-white/70 -z-10"></div>
        <Image
            src={image01}
            alt="TODO"
            class="absolute inset-0 w-full h-full object-cover -z-20"
        />
    </section>
</Base>
