---
import Base from '../components/layouts/Base.astro';
import Logos from '../partials/Logos.astro';
import Colors from '../partials/Colors.astro';
---

<Base>
  <section class="container mx-auto px py-10 text-center">
    <h1 class="mb-3 text-4xl md:text-5xl font-bold">Press Kit</h1>
    <p>
      Here you can find logos, graphics, and other resources to
      represent the Great Pumpkin Chase.
    </p>
  </section>
  <Logos />
  <Colors />
</Base>
