---
import Base from '../components/layouts/Base.astro';
import CanonicalUrl from '../components/utilities/CanonicalUrl.astro';
---

<Base>
  <CanonicalUrl href="/register" slot="head" />

  <section class="container mx-auto py-10 px text-center">
    <div class="mb-5">
      <h1 class="text-5xl font-bold mb-3">Register</h1>
      <p>
        To get registered, first fill out the wavier and then sign up.
      </p>
    </div>
    <ol class="py-10 space-y-10">
      <li>
        <h2 class="text-3xl mb-4">1. Complete the Wavier</h2>
        <a class="btn" href="/wavier">Fill out Wavier</a>
      </li>
      <li>
        <h2 class="text-3xl mb-4">2. Sign Up</h2>
        <a class="btn" href="/register/signup">Sign Up</a>
      </li>
    </ol>
  </section>
</Base>
