---
import Base from '../components/layouts/Base.astro';
import CanonicalUrl from '../components/utilities/CanonicalUrl.astro';
---

<Base>
  <CanonicalUrl href="/register" slot="head" />

  <section class="container mx-auto py-10 px text-center">
    <div class="mb-5">
      <h1 class="text-5xl font-bold mb-3">Registration Closed</h1>
    </div>
  </section>
</Base>
