---
import showEmergancyContact from '../js/showEmergancyContact';
---

<section class="container mx-auto px py-10 mt-10">
    <div class="grid place-content-center">
        {
            showEmergancyContact() ? (
                <a
                    href="tel:2565298218"
                    class="inline-block py-3 px-12 text-center text-white bg-red-600 rounded-lg shadow"
                >
                    <h3 class="text-xl mb-2">Emergency Contact</h3>
                    <p class="text-4xl">(256) 529-8218</p>
                </a>
            ) : (
                <p class="text-2xl py-6 px-12 rounded-xl border-gray-400 dark:border-white border-2 border-dashed">
                    Emergency contact info will be displayed here on
                    the day of the event.
                </p>
            )
        }
    </div>
</section>
