<section class="container mx-auto px py-10 mt-10">
  <div class="grid place-content-center">
    <a
      href="tel:7196604878"
      class="inline-block py-3 px-12 text-center text-white bg-red-600 rounded-lg shadow"
    >
      <h3 class="text-xl mb-2">Emergency Contact</h3>
      <p class="text-4xl">(719) 660-4878</p>
    </a>
  </div>
</section>
