---
import { Image } from 'astro:assets';
import NavigationLink from './NavigationLink.astro';
import logo from '../assets/gpc-logo-text-only-no-year.svg';
---

<nav
  class="container mx-auto px-lg flex gap-10 sm:justify-between items-center py-2"
>
  <div>
    <a class="inline-block py-3 text-xl font-bold" href="/">
      <Image
        class="h-24 md:h-32 w-auto"
        src={logo}
        alt="Great Pumpkin Chase logo with text only"
      />
    </a>
  </div>
  <div>
    <ul
      class="mr-3 h-full flex flex-wrap justify-center items-center gap-5 lg:gap-8"
    >
      <NavigationLink href="/parents">Parent Info</NavigationLink>
      <NavigationLink href="/volunteer">
        Volunteer to Help
      </NavigationLink>
      <NavigationLink href="/register">Register</NavigationLink>
      <NavigationLink href="/contact">Contact Us</NavigationLink>
    </ul>
  </div>
</nav>
