---
const { href, bold = false } = Astro.props;

const active = href === Astro.url.pathname.replace(/\/$/, '');
---

<li>
    <a
        class:list={[
            'text-lg',
            { 'text-gray-600': !active },
            {
                'text-gray-900 border-b-2 border-gray-800': active,
            },
            { 'btn text-white': bold },
        ]}
        href={href}
    >
        <slot /></a
    >
</li>
