---
import { Image } from 'astro:assets';
import NavigationLink from './NavigationLink.astro';
import logo from '../assets/gpc-logo.svg';
import logoDarkBackgrounds from '../assets/gpc-logo-reversed.svg';
---

<nav
    class="container mx-auto px-lg flex flex-col md:flex-row md:gap-10 sm:justify-between items-center py-2"
>
    <div>
        <a class="inline-block py-3 text-xl font-bold" href="/">
            <Image
                class="h-24 md:h-32 w-auto block dark:hidden"
                src={logo}
                alt="Great Pumpkin Chase logo with text only"
            />
            <Image
                class="h-24 md:h-32 w-auto hidden dark:block"
                src={logoDarkBackgrounds}
                alt="Great Pumpkin Chase logo with text only"
            />
        </a>
    </div>
    <div>
        <ul
            class="mr-3 h-full flex flex-wrap justify-center items-center gap-5 lg:gap-8"
        >
            <NavigationLink href="/register">Register</NavigationLink>
            <NavigationLink href="/parents"
                >Parent Info</NavigationLink
            >
            <NavigationLink href="/volunteer"
                >Volunteer</NavigationLink
            >
            <NavigationLink href="/contact">Contact</NavigationLink>
        </ul>
    </div>
</nav>
