---
import ColorCategory from '../components/branding/ColorCategory.astro';
import Color from '../components/branding/Color.astro';
---

<section class="container mx-auto px py-10">
  <h2 class="mb-3 text-3xl md:text-4xl font-bold text-center">
    Colors
  </h2>

  <div class="space-y-8">
    <ColorCategory title="Gray" />

    <ColorCategory title="Orange">
      <Color name="900" color="#803313" />
      <Color name="800" color="#A44511" />
      <Color name="700" color="#C2550C" />
      <Color name="600" color="#EA6D0C" />
      <Color name="500" color="#F27D0F" />
      <Color name="400" color="#F89A3B" />
      <Color name="300" color="#FBBB73" darkText />
      <Color
        name="200"
        color="#FFDAA9"
        description='Used in the "for Dark Backgrounds" version of the logos for the "Great" and "2023" text.'
        darkText
      />
      <Color name="100" color="#FFEDD5" darkText />
      <Color
        name="75"
        color="#FFF4E6"
        description="Used as the background for the logo and website."
        darkText
      />
      <Color name="50" color="#FFF7ED" darkText />
    </ColorCategory>

    <ColorCategory title="Yellow">
      <Color name="900" color="#78370F" />
      <Color name="800" color="#92460E" />
      <Color name="700" color="#B55B0A" />
      <Color name="600" color="#E07A0E" />
      <Color name="500" color="#F79013" />
      <Color name="400" color="#FFAB2D" />
      <Color name="300" color="#FFC04E" darkText />
      <Color name="200" color="#FFDA8B" darkText />
      <Color name="100" color="#FFF0C8" darkText />
      <Color name="50" color="#FFFBEB" darkText />
    </ColorCategory>
  </div>
</section>
