---
import Asset from '../components/branding/Asset.astro';
---

<section class="container mx-auto px py-10">
    <h2 class="text-3xl md:text-4xl font-bold text-center">Logos</h2>

    <div
        class="py-10 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10"
    >
        <Asset
            name="Regular"
            src="https://static.greatpumpkinchase.com/presskit/logos/gpc-logo.svg"
            versions={[
                {
                    name: 'PNG',
                    src: 'https://static.greatpumpkinchase.com/presskit/logos/gpc-logo.png',
                },
                {
                    name: 'SVG',
                    src: 'https://static.greatpumpkinchase.com/presskit/logos/gpc-logo.svg',
                },
            ]}
        />
        <Asset
            name="Text Only"
            src="https://static.greatpumpkinchase.com/presskit/logos/gpc-logotype.svg"
            versions={[
                {
                    name: 'PNG',
                    src: 'https://static.greatpumpkinchase.com/presskit/logos/gpc-logotype.png',
                },
                {
                    name: 'SVG',
                    src: 'https://static.greatpumpkinchase.com/presskit/logos/gpc-logotype.svg',
                },
            ]}
        />
        <Asset
            name="Truck Only"
            src="https://static.greatpumpkinchase.com/presskit/logos/gpc-logomark.svg"
            versions={[
                {
                    name: 'PNG',
                    src: 'https://static.greatpumpkinchase.com/presskit/logos/gpc-logomark.png',
                },
                {
                    name: 'SVG',
                    src: 'https://static.greatpumpkinchase.com/presskit/logos/gpc-logomark.svg',
                },
            ]}
        />
        <Asset
            name="Regular for Dark Backgrounds"
            background="bg-gray-950"
            src="https://static.greatpumpkinchase.com/presskit/logos/gpc-logo-reversed.svg"
            versions={[
                {
                    name: 'PNG',
                    src: 'https://static.greatpumpkinchase.com/presskit/logos/gpc-logo-reversed.png',
                },
                {
                    name: 'SVG',
                    src: 'https://static.greatpumpkinchase.com/presskit/logos/gpc-logo-reversed.svg',
                },
            ]}
        />
        <Asset
            name="Text Only for Dark Backgrounds"
            background="bg-gray-950"
            src="https://static.greatpumpkinchase.com/presskit/logos/gpc-logotype-reversed.svg"
            versions={[
                {
                    name: 'PNG',
                    src: 'https://static.greatpumpkinchase.com/presskit/logos/gpc-logotype-reversed.png',
                },
                {
                    name: 'SVG',
                    src: 'https://static.greatpumpkinchase.com/presskit/logos/gpc-logotype-reversed.svg',
                },
            ]}
        />
        <Asset
            name="Truck Only for Dark Backgrounds"
            background="bg-gray-950"
            src="https://static.greatpumpkinchase.com/presskit/logos/gpc-logomark-reversed.svg"
            versions={[
                {
                    name: 'PNG',
                    src: 'https://static.greatpumpkinchase.com/presskit/logos/gpc-logomark-reversed.png',
                },
                {
                    name: 'SVG',
                    src: 'https://static.greatpumpkinchase.com/presskit/logos/gpc-logomark-reversed.svg',
                },
            ]}
        />
    </div>
</section>
